.UserProfile {
    width: 60%;
    overflow: hidden;
    margin: 110px auto;
    padding: 20px;
    border: 1px solid rgba(0, 115, 126, 0.1);
}

.Header {
    text-align: center;
}

.Table {
    padding: 0 auto;
    width: 60%;
    float: left;
}


.Table Button {
    margin: 20px auto;
    width: 50%;
}

.Container {
    display: flex;
    align-content: space-between;
}

.Label {
    width: 20%;
    text-transform: capitalize;
    border-right: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
}

.Value {
    /* width: 80%; */
    text-transform: capitalize;
    padding: 10px;
    padding-left: 20px;
}

.Image {
    width: 30%;
    height: 300px;
    float: left;
    margin: 10px auto;
    /* display: flex; */
    /* align-items: center; */
}

.Image input {
    margin-top: 20px;
}

.Image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.Button {
    margin: 20px auto;
}