.CartPage{
    padding: 15px;
}

.Buttons{
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}   

.Button{
    width: 40%;
}

.CartDetails{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}