.CartItem{
    width: 60%;
    border : 1px solid rgba(0, 115, 126, 0.1);
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
}

.CartItem:hover{
    box-shadow: 2px 2px 4px 4px rgba(23, 102, 85, 0.2),
    			-2px -2px 4px 4px rgba(23, 102, 85, 0.2),
    			 1px 1px 2px 2px rgba(47, 213, 177, 0.2),
    			-1px -1px 2px 2px rgba(47, 213, 177, 0.2);
}

.Details{
    width: 70%;
    float: left;
}

.Label{
    padding: 0 10px 0 20px;
    text-transform: capitalize;
    /* border-right: 1px solid gainsboro; */
}

.Value{
    padding-left: 20px;
    text-transform: capitalize;
}

.Quantity{
    width: 50px;
    margin-left: 20px;
}
