.ProductCard{
    margin-top: 15px;
    border-color : rgba(0, 115, 126, 0.1);
}

.Image{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}

.Image img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

p{
    margin-bottom: 0;
}

.Button{
    width: 100%;
    margin: 5px 0;
    background-color: #00737E;
    border-color: #00737E;
}

.Button:hover,
.Button:focus,
.Button:active{
    background-color: white;
    border-color: #00737E;
    color : #00737E
}

.PropName{
    font-size: 13px;
    text-transform: capitalize;
}